body            { font-family: sans-serif; background-image: url('img3.jpg'); background-color: #333333}
h1, h2, h3, h4       { color: #FFFFFF; }
h1, h2          { font-family: 'Georgia', serif; margin: 0; }
h1              { border-bottom: 2px solid #eee; }
h2              { font-size: 1.2em; }

p, pre, dd, dt               { color: #CCCCCC; font-size: 1.2em;}

a {text-decoration: none; color:#FFFFCC;}

.pane {position:absolute; left: 25%; border: 2px solid;
    border-radius: 25px; padding: 5px; margin: 5px; border-color: #999999; background-color: #333333 }
.header         {text-align: center;}
.name {width:50%;display: inline-block; float: left;}
.description {}

.flash          { background: #cee5F5; }
.link {display: inline; min-width: 10em; border: 2px solid #CCCCCC;}
.category-link {border: 2px solid #CCCCCC; padding: 10px;}

.change {color: #FFFFCC; font-size: 0.9em;}
.row {widows: 100%; display: flex; flex-wrap: wrap; margin-bottom: 10px;}
.col-3 {width: 25%;}
.col-4 {width: 33%;}
.col-6 {width: 50%;}
.col-9 {width: 75%;}
.move-left {text-align: left;}
.move-right {text-align: right;}
.cancel {color: #FFFFCC; font-size: 1em;}
.username {text-align: center; border-right: 2px solid white; border-left: 2px solid white;}
.login-picture {width: 300px; height: 300px; border-radius:150px; -webkit-border-radius: 150px; -moz-border-radius:150px;}